@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	box-sizing: border-box;
}

body {
	width: 60%;
	max-width: 960px;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
    background-image: url('Images/light-background.jpg');
	background-repeat: no-repeat;
	font-family: 'Roboto', Arial, sans-serif;
}
a{
	text-decoration: none;
}
h1{
	font-family:'Philosopher', Times New Roman, serif;
}
h2, h3, h4{
	font-family:'Roboto', Arial, sans-serif;
}
p{
	font-size: 12px;
}
#logo{
	width: 134px;
	height: 100px;
	display:block;
	text-indent:-9999px; /* wat is text-indent > dan gaat de tekst uit het beeld*/
	background:url('Images/logo-imperium.png');
	background-size:cover;
}
.logo{
	float:left;
}
header {
	border-bottom: 2px solid #DF134C;
	overflow: auto;
}
.hoofdmenu{
	float: left;
	margin-top:82px;
}
.hoofdmenu li{
	display: inline;
	padding:10px 15px;
	color:#645E53;
}
.hoofdmenu a{
	color:#645E53;
	font-weight:bold;
}
.welcome{
	width:100%;
	height:350px;
	background:url('Images/LangeNasleep1.jpg');
	color: white;
}
.welcome h1{
	padding-top:10px;
	padding-left:10px;
	font-size: 32px
}
.welcome p{
	padding-left:10px;
}
.welcome a{
	float:right;
	padding:10px;
	color: white;
	background-color: #F77A52;
	margin-top: 190px;
}
.agenda{
	width: 100%;
	padding-left:2%;
	padding-bottom:2%;
	background-color: white;
	margin-top: 5px;
}
.agenda h2{
	float: left;
	
}
.overzicht{
	float: right;
    padding: 10px;
    color: #F77A52;
	margin-top: 20px;
}
#mistero{
	background: url('Images/Mistero.jpg') no-repeat;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	margin-top: 5px;
	margin-top:5px;
	clear: left;
}
#nasleep{
	background: url('Images/langenasleep2.jpg') no-repeat;
	border-bottom: 1px solid grey;
	margin-top: 5px;
}
#mars{
	background: url('Images/mars.jpg') no-repeat;
	border-bottom: 1px solid grey;
	margin-top: 5px;
}
.agendalist li{
	padding-left:140px;
	overflow: auto;
}
.kaartjes{
	float:right;
	padding:10px;
	color: white;
	background-color: #DF134C;
	margin-top: 85px;
}
.artikelen{
	overflow:auto;
}
.artikelen h1{
	font-size:32px;
	color:#773B28;
}
.wie, .lid, .huren{
	text-align: justify;
    position: relative;
    width: 32%;
    float: left;
    margin: 10px 1%;
    padding: 3px;
	background-color:white;
	height: 200px;
}
.wie{
	margin-left: 0px;	
	/* Het lukte mij niet om de afbeeling er goed in te plaatsen */
}
.huren{
	margin-right: 0px;
}
.artikelen a{
	float:right;
	padding:10px;
	color: white;
	background-color: #F77A52;
}
.wie a{
	margin-top: 50px;
}
.lid a{
	margin-top: 10px;
}
.huren a{
	margin-top: 25px;
}
footer{
	background-color: #E2DFD3;
	width: 100%;
	padding-left:2%;
	padding-bottom:2%;
	margin-top: 5px;
	overflow: AUTO;
	
}
.foot1, .foot2, .foot3, .foot4{
	float: left;
	list-style:none;
	padding-right:60px;
	
}
.footernav a{
	color: grey;
}
